ADMIN_PASSWORD=VotreMotDePasseSecret123
ADMIN_JWT_SECRET=CleSecreteSignaturesAleatoire987654
GITHUB_TOKEN=github_pat_VOTRE_TOKEN_GITHUB_ICI
GITHUB_OWNER=ouedraogoeric540-beep
GITHUB_REPO=AME
GITHUB_BRANCH=main
GITHUB_FILE_PATH=src/data/siteData.json
